html {
    height: 100%;
}
body {
    margin:0;
    padding:0;
    font-family: sans-serif;
    background: linear-gradient(#141e30, #2f45a8);
}

.caja-usuario p{
    color: #fff;
}

.caja-login {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 630px;
    padding: 45px;
    transform: translate(-50%, -50%);
    background: rgba(0,0,0,.5);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    border-radius: 10px;
}

.caja-login h2 {
    margin: 0 0 30px;
    padding: 0;
    color: #fff;
    text-align: center;
}

.caja-login .caja-usuario {
    position: relative;
}

.caja-login .caja-usuario input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
}
.caja-login .caja-usuario label {
    position: absolute;
    top:0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
}

.caja-login .caja-usuario input:focus ~ label,
.caja-login .caja-usuario input:valid ~ label {
    top: -30px;
    left: 0;
    color: white;
    font-size: 12px;
}

.caja-login form .a {
    position: relative;
    padding: 10px 20px;
    color: white;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    letter-spacing: 4px
}

.caja-login .a span {
    position: absolute;
    display: block;
}


.error{
    color: white;
}